{% extends './base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'app/document_detail.css' %}">
{% endblock %}
{% block content %}

<div class="document content">
    <h2>{{document.root.profile.name}}</h2>
    <p>Адрес: {{document.root.profile.address}} ИНН: {{document.root.profile.inn}}
        р/с {{document.root.profile.pay_account}} в {{document.root.profile.bank}}, к/с {{document.root.profile.kor_account}}
        БИК: {{document.root.profile.bik}}<br> ОГРНИП: {{document.root.profile.ogrn}}<br>Тел.:
        {{document.root.profile.phone}} email: {{document.root.profile.email}}</p>
    <div>
        <h3>Товарно-транспортная накладная № {{document.number}} от {{document.date}}</h3>
        <p>Город: {{document.city}} номер ТС: {{document.truck}}</p>
        <p>Отправитель: {{document.sender}}</p>
        <p>Получатель: {{document.receiver}}</p>
        <p>Плательщик: {{document.payer}}</p>
        <table class="table is-narrow is-bordered">
            <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Наименование груза</th>
                    <th>Количество мест</th>
                    <th>Вес</th>
                    <th>Объем</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td> <td></td>
                    <td colspan="4" class="has-text-right">
                        Всего к оплате:
                    </td>
                    <td class="has-text-weight-bold	">
                        {{document.doc_sum}}
                    </td>
                </tr>
            </tfoot>
            {% for row in document.items.all %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{row.item}}</td>
                <td>{{row.seats}}</td>
                <td>{{row.weight}}</td>
                <td>{{row.volume}}</td>
                <td>{{row.price}}</td>
                <td>{{row.item_sum}}</td>
            </tr>
            {% empty %}
            <tr><td colspan = 7>Добавьте строки в таблицу.</td></tr>
            {% endfor %}
        </table>
    </div>
    <div>Особые отметки: {{document.spec_notes}}</div>
    <div>Адрес доставки: {{document.destination_address}}</div>
    <div>{{document.text}}</div>

    <div class="no-print">
        <a class="button" href="{% url 'document-update' pk=document.id %}">Редактировать</a>
        <a class="button" href="{% url 'document-delete' pk=document.id %}">Удалить</a>
    </div>
</div>


{% endblock %}