{% extends './base.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'app/document_detail.css' %}">
    <link rel="stylesheet" href="{% static 'app/print.css' %}" media="print">
{% endblock %}
{% block content %}
    <div class="doc-panel-element">
        <a class="button is-link is-outlined" href="javascript:print()" title="Распечатать">
            <i class="fa-light fa-print has-text-black"></i></a>
    </div>
<!--    <div class="doc-panel-element">-->
<!--        <a class="button is-link is-outlined" href="javascript:history.back()" title="Вернуться">-->
<!--            <i class="fa-light fa-backward"></i></a>-->
<!--    </div>-->
    <div class="doc-panel-element">
        <a class="button is-link is-outlined" href="" title="Вертикально" id="portrait">
            <i class="fa-light fa-file"></i></a>
    </div>
    <div class="doc-panel-element">
        <a class="button is-link is-outlined" href="" title="Горизонтально" id="landscape">
            <i class="fa-light fa-file rotate90"></i></a>
    </div>
    <div class="doc-panel-element">
        <a class="button is-link is-outlined" href="" title="PDF" id="topdf">
            <i class="fa-light fa-file-pdf has-text-danger"></i></a>
    </div>

    <div class="document landscape content box">
        <h2>{{document.root.profile.name}}</h2>
        <p>Адрес: {{document.root.profile.address}} ИНН: {{document.root.profile.inn}}<br>
            р/с {{document.root.profile.pay_account}} в {{document.root.profile.bank}},
            к/с {{document.root.profile.kor_account}} БИК: {{document.root.profile.bik}}<br>
            ОГРНИП: {{document.root.profile.ogrn}}<br>
            Тел.: {{document.root.profile.phone}} email: {{document.root.profile.email}}</p>
        <div>
            <h1>Товарно-транспортная накладная № {{document.number}} </h1>
            <h3>от {{document.date}}</h3>
            <p>Город: {{document.city}} Авто: {{document.truck}}</p>
            <p>Отправитель: {{document.sender}} <br> {{document.sender.phone}}</p>
            <p>Получатель: {{document.receiver}} <br> {{document.receiver.phone}}</p>
            <p>Плательщик: {{document.payer}} <br> {{document.payer.phone}}</p>
            <table class="table is-narrow is-bordered">
                <thead>
                    <tr>
                        <th>№ п/п</th>
                        <th>Наименование груза</th>
                        <th>Кол-во</th>
                        <th>Вес</th>
                        <th>Объем</th>
                        <th>Цена</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td> <td></td>
                        <td colspan="4" class="has-text-right">
                            Всего к оплате:
                        </td>
                        <td class="has-text-weight-bold	">
                            {{document.doc_sum}}
                        </td>
                    </tr>
                </tfoot>
                {% for row in document.items.all %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{row.item}}</td>
                    <td>{{row.seats}}</td>
                    <td>{{row.weight}}</td>
                    <td>{{row.volume}}</td>
                    <td>{{row.price}}</td>
                    <td>{{row.item_sum}}</td>
                </tr>
                {% empty %}
                <tr><td colspan = 7>Добавьте строки в таблицу.</td></tr>
                {% endfor %}
            </table>
        </div>
        <div>Особые отметки: {{document.spec_notes}}</div>
        <div>Адрес доставки: {{document.destination_address}}</div>
        <div>{{document.text}}</div>
    </div>
<script src="{% static 'app/html2pdf.bundle.min.js' %}"></script>
<script>
    {
        let portrait = document.getElementById("portrait");
        let landscape = document.getElementById("landscape");
        let pdflink = document.getElementById("topdf");
        let doc = document.querySelector('.document');
        let orientation = 'landscape';
        portrait.addEventListener("click", (e)=>{
            e.preventDefault();
            doc.classList.replace('landscape', 'portrait');
            orientation = 'portrait';
        })
        landscape.addEventListener("click", (e)=>{
            e.preventDefault();
            doc.classList.replace('portrait','landscape');
            orientation = 'landscape';
        })
        pdflink.addEventListener("click", (e)=>{
            e.preventDefault();
            let opt = {
                filename: document.querySelector('h1').innerText,
                image: { type: 'jpeg', quality: 1 },
                jsPDF: { format: 'A4', orientation: orientation },
            }
            html2pdf(doc, opt);
        })
    }
</script>
{% endblock %}