html {overflow:auto}
button.svelte-1vm7l7d{width:10rem}th.svelte-5f7ih4{position:sticky;top:0;font-size:1.1rem;background-color:#fff}div.svelte-5f7ih4{height:25rem;overflow:auto;border:1px solid #909090}a.svelte-5f7ih4{color:#d2691e}
