table.is-bordered tfoot tr td {
    border: none;
}

div#document {
    margin: 0 0.2rem;
    background-color: white;
    font-size: 0.75rem;
}
div.portrait {
    aspect-ratio: 210/297;
    height: 75rem;
}
div.landscape {
    aspect-ratio: 297/210;
    width: 75rem;
}

div.doc-panel-element {
    display: inline-block;
    padding: 0.1rem 0 0.1rem 0.1rem;
}

div#document h1 {
    font-weight: bold;
    font-size: 1.6em;
    margin: 0;
}

div#document .sub-h1 {
    font-size: 1.3em;
}

body {
    background-color: #eee;
}
.rotate90 {
    transform: rotate(-90deg);
}
.mycolumn-image {
        max-width: 12rem;
}
address h5 {
        font-weight: bold;
}
address div {
        text-indent: 2rem;
}
.signature {
    font-size: 0.8rem;
    border-top: 1px solid #121212;
    width: 30%;
    margin: 2em 0.4em 0;
    text-align: center;
}
.signature:last-child {
    width: 70%;
}
div.field-body {
    flex-grow: 7;
}

div.box div.field {
    margin-bottom: 0.2em;
}
div.box div.field-label {
    margin-right: 1em;
}