nav, footer, .no-print {
    display: none;
}

html body.has-navbar-fixed-top {
    padding-top: 0;
    background-color: transparent;
}

div.doc-panel-element {
    display: none;
}

div.document.content.box {
    box-shadow: none;
}