nav, footer, .no-print {
    display: none;
}

html body.has-navbar-fixed-top {
    padding-top: 0;
    background-color: transparent;
}

div.doc-panel-element {
    display: none;
}

div.field:not(:last-child) {
    margin-bottom: 0;
}